<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieWeb</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="rubik-puddles-regular">My MovieWeb</h1>
        {% block pagename %}
        {% endblock %}
    </header>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('list_users') }}">Users</a>
        <a href="{{ url_for('list_movies') }}">Movies</a>
        <a href="{{ url_for('add_user') }}">Add User</a>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages|length > 0 %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Movieland</p>
    </footer>
</body>
</html>