{% extends "base.html" %}

{% block pagename %}
    <h2>Home</h2>
{% endblock %}

{% block content %}
    <h2 class="h2_home">Welcome to My MoviesWeb</h2>
<div class="content_home">
    <p>Your personal movie hub for exploring, managing, and enjoying films.</p>
    <p>Here, you can:</p>
    <ul>
        <li>Search and add your favorite movies from OMDb.</li>
        <li> Create, update, and delete users in the app.</li>
        <li> Associate movies with users, update their details, and remove them when needed.</li>
        <li>Keep track of all your movies in a personalized list.</li>
        <li>Like, update, and delete movies with ease!</li>
    </ul>
    <p>Explore, organize, and keep your movie collection fresh and exciting!</p>
    <p>Read about all the detailed functionalities of the app in the 'Help' page!</p>
        </div>
{% endblock %}