{% extends "base.html" %}
{% block pagename %}
    <h2>Update Movie: {{ movie.title }}</h2>
{% endblock %}
{% block content %}
<div class="form-container">
    <form action="{{ url_for('update_movie', movie_id=movie.id, user_id=user_id) }}" method="post">
        <label for="rating">New Rating:</label>
        <input type="text" id="rating" name="rating" value="{{ movie.rating or '' }}" required>
        <button type="submit" class="btn submit-btn">Update Movie</button>
    </form>
    </div>
{% endblock %}