<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="update_movie">
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/movies"><button>Movies</button></a>
        <a href="/users"><button>Users</button></a>
    </nav>

    <div class="message-container">
        <!-- Success message -->
        {% if success_message %}
            <p class="alert update-success">{{ success_message }}</p>
        {% endif %}

        <!-- Warning message -->
        {% if warning_message %}
            <p class="alert update-warning">{{ warning_message }}</p>
        {% endif %}
    </div>

    <!-- Form for updating a movie -->
    <form action="" method="POST" class="update-form">

        <label for="rating">Update '{{ movie.title }}' rating</label>
        <input
            type="text"
            id="rating"
            name="rating"
            value="{{ movie.rating }}"
            placeholder="Enter movie rating"
            required
        ><br><br>

        <input type="submit" value="Update Movie">
    </form>
</body>
</html>