<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="users">
    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/movies"><button>Movies</button></a>
        <a href="/users"><button>Users</button></a>
    </nav>

    <div class="message-container">
        <!-- Success message -->
        {% if request.args.get('success_message') %}
            <p class="alert alert-success">{{ request.args.get('success_message') }}</p>
        {% elif request.args.get('warning_message') %}
            <!-- Warning message -->
            <p class="alert alert-warning">{{ request.args.get('warning_message') }}</p>
        {% endif %}
    </div>

    <h1 class="users-title">User's</h1>

    <ul>
        {% for user in users %}
        <li>
            <!-- Round icon with the first letters of the username -->
            <div class="user-icon">
                {{ user.name[0] }} <!-- Display first letter of the username -->
            </div>

            <div class="user-info">
                <!-- Link to the user's movie list -->
                <a href="{{ url_for('user_movies', user_id=user.id) }}">{{ user.name }}</a>
            </div>

            <!-- Button to update user information -->
            <a href="{{ url_for('update_user', user_id=user.id) }}">
                <button>Update</button>
            </a>

            <!-- Button to delete user -->
            <a href="{{ url_for('delete_user', user_id=user.id) }}">
                <button class="remove">Delete</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>